<!DOCTYPE html>
<html>
 <head>
  <link style="text/css" rel="stylesheet" href="/static/style.css">
  <title>OddJobs</title>
 </head>
 
 <body>
  <img src=https://d1vg1gqh4nkuns.cloudfront.net/i/333352531280543762/desktop/standard/400square-legacy>
  
  <h1 class="rainbow-text">You post them, someone takes them!</h1>
  
  <h3>Post an OddJob</h3> 
  
  <form method=POST action="/">
   Title: <br>
   <input type="text" name="title-first-ln" value="">
   <br>
   Description: <br>
   <input type="text" name="description-second-ln" value="">
   <br>
   Complexity: <br>
   <input type="text" name="post-type" value="">
   <br>
   <input type="submit" value="Create Post">
   <br><br>
  </form>
  
  <div class="searchy_search">  
  Search an OddJob <br>
  <form method="POST" action="/results">
  <input type="text" value="Search"></input> <br> <br>
  <input type="submit"class="oof">
  </form>
  </div>
  
  <div class="listings">
   <b> <a href="{{logout_url}}">Log out</a></b>
   
   <h2>Job Listings</h2> 
   {% for post in all_posts %}
   
   <div class="post-div" style="background: black;">
    <h2 id="title">{{title}}</h2>
    <h2 id="description">{{description}}</h2>
    <h2 id="complexity">{{complexity}}</h2>
   </div>
   <br> <br>
   {% endfor %}
  </div>
 </body>   
</html>