<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet" href="style.css">
</head>
 <head2>
  <img src=https://d1vg1gqh4nkuns.cloudfront.net/i/333352531280543762/desktop/standard/400square-legacy>
    <meta charset="UTF-8">
    <title>OddJobs</title>
 </head2>
 <body>
    <h1 class="rainbow-text">You post them, someone takes them!</h1>
    <h3>Post an OddJob</h3> 
    <br> <br>
  <div class="searchy_search">  
    Search an OddJob <br>
    <form method="POST" action="/results">
   <input type="text" value="Search"></input> <br> <br>
     <input type="submit"class="oof">
    </form>
  </div> 
   <div class="listings">
    <h2>Job Listings</h2> 
    
   </body>   
   </div>
</html>