<!DOCTYPE html>
<html>
 <head>
  <img src=https://d1vg1gqh4nkuns.cloudfront.net/i/333352531280543762/desktop/standard/400square-legacy>
    <meta charset="UTF-8">
    <title>OddJobs</title>
 </head>
 <body>
    <h1>you post them, someone takes them!</h1>
    <h3>Post an OddJob</h3> 
    <br> <br>
  <div>  
    Search an OddJob <br>
    <form method="POST" action="/results">
   <input type="text" value="search"></input> <br> <br>
     <input type="submit">
    </form>
  </div> 
   <div class="listings">
    <h2>Job Listings</h2> 
    
  </form> 
   </body>   
   </div>
</html>
