<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Oddjobs</title>

    </head>
    <body>
        <div>
            <header>OddJobs Log-in</header>
        </div>
        <div class="login_boxes">
            <div class="login_box">
                <h1>Log-in</h1>
                <form>
                    <div class="acc_login_field">
                        <label for="input_email"> Username / E-mail </label>
                        <input type="text"  id="input_email" name="input_email" value required>
                    </div>
                    <div>
                        <label for="password"> Password</label>
                        <input type="text" id="password" name="password" value required>
                    </div>
                    
                </form>
            
            </div>
            <h5>Don't have an account with us?</h5>
            <div class="create_acc">
                <h1>Create an OddJobs Account</h1>
                <form>
                    <div class="acc_create_field">
                        <label for="insert_email"> E-mail</label>
                        <input type="text" id="insert_email" name="inser_email" value required>
                    </div>
                </form>
            </div>
        </div>
    </body>
    
</html>