<!DOCTYPE html>
<html>
  <head>
    <title>Your Posts</title>
  </head>
  <body>
   <h1>Create a Post</h1>
   
   <br><br>
   <form method="POST" action="/profileposts">
   Title: <br>
   <input type="text" name="title-first-ln" value="">
   <br>
   Description: <br>
   <input type="text" name="description-second-ln" value="">
   <br>
   Complexity: <br>
   <input type="text" name="post-type" value="">
   <br>
   <input type="submit" value="Create Post">
   <br><br>
   </form>
    {% for post in profile_posts %}
   
   <div class="post-div">
    <h2 id="title">{{post["title"]}}</h2>
    <h2 id="description">{{post["description"]}}</h2>
    <h2 id="complexity">{{post["complexity"]}}</h2>
   </div>
   <br> <br>
   {% endfor %}
  </body>
</html>
