<html>
    <head>
        <link style="text/css" rel="stylesheet" href="/static/register.css">
        <link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="welcome">
            Welcome to OddJobs, {{email_address}}!  Please sign up! <br><br>
        </div>
        
        <div class="text_forms">
            <form method="post" action="/register">
            <br>
            <div class="text"id="fn">First name: </div><input type="text" name="first_name">
            <br>
            <div class="image"><img src=https://d1vg1gqh4nkuns.cloudfront.net/i/333352531280543762/desktop/standard/400square-legacy></div> 
            <div class "text"id="ln">Last name:</div> <input type="text" name="last_name">
            <br>
            <div class="text"id="pn">Phone number: </div><input type="text" name="phone_number"/>
            <br>
            <input type="submit">
            </form>
        </div>
        <br>
        <h2 class="thanks">Thanks for signing up in advance!</h2>
    </body>
</html>
